<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/main.css">
    <title>Blog Website</title>
</head>
<header>
    <ul>
        <li><a href="/" target="_self">Home</a></li>
        <li><a href="/add-a-post" target="_self">Add a Post</a></li>
    </ul>
</header>
<body>
    <main>