<%- include("partials/header.ejs") %>

<h2>Add a Blog Post</h2>
<form action="/action_page.php">
    <label for="post">Your Blog Post</label><br>
    <textarea id="post" name="post" rows="4" cols="50"></textarea><br>
    <input type="submit" value="Submit">
</form> 

<%- include("partials/footer.ejs") %>